@keyframes rotate-shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-rotate-shake:hover {
  cursor: pointer;
  animation: rotate-shake 0.4s ease-in-out infinite;
}
